.barWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "search filter";
    align-items: center;
    margin-top: 20px;
}

.searchWrapper {
    grid-area: search;

    display: flex;
    gap: 20px;
    color: #BDBDBD;
    font-size: 12px;
    align-items: center;
    justify-items: center;
}

.resultWrapper {
    background-color: white;
    width: 100%;
    padding: 20px;
    box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}

.list {
    display: grid;

}

.filterWrapper {
    grid-area: filter;
    
    display: flex;
    gap: 10px;
    align-items: center;
    justify-self: end;
}

.links {
    display: flex;
    color: #808893;
}

a {
    display: flex;
    align-items: center;
} 

img {
    padding: 0 0;
}
